@charset "utf-8";

@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 700;
	src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 500;
	src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
	url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 300;
	src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
	url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face{
	font-family:'Noto Sans KR';
	src: url('../fonts/notokr-thin.eot');/* IE 호환성 보기 */
	src: url('../fonts/notokr-thin.eot?#iefix') format('embedded-opentype'),/* IE 6 ~ 8 */
		url('../fonts/notokr-thin.woff2') format('woff2'),/* WOFF2 지원 브라우저 */
		url('../fonts/notokr-thin.woff') format('woff'),/* 모던 브라우저 */
		url('../fonts/notokr-thin.svg#notokr-thin') format('svg');/* 구 모바일 브라우저 */
	font-weight: 100;
	font-style: normal;
}
@font-face{
	font-family:'Noto Sans KR';
	src: url('../fonts/notokr-light.eot');
	src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/notokr-light.woff2') format('woff2'),
		url('../fonts/notokr-light.woff') format('woff'),
		url('../fonts/notokr-light.svg#notokr-light') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face{
	font-family:'Noto Sans KR';
	src: url('../fonts/notokr-demilight.eot');
	src: url('../fonts/notokr-demilight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/notokr-demilight.woff2') format('woff2'),
		url('../fonts/notokr-demilight.woff') format('woff'),
		url('../fonts/notokr-demilight.svg#notokr-demilight') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family:'Noto Sans KR';
	src: url('../fonts/notokr-regular.eot');
	src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/notokr-regular.woff2') format('woff2'),
		url('../fonts/notokr-regular.woff') format('woff'),
		url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family:'Noto Sans KR';
	src: url('../fonts/notokr-medium.eot');
	src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/notokr-medium.woff2') format('woff2'),
		url('../fonts/notokr-medium.woff') format('woff'),
		url('../fonts/notokr-medium.svg#notokr-medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family:'Noto Sans KR';
	src: url('../fonts/notokr-bold.eot');
	src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/notokr-bold.woff2') format('woff2'),
		url('../fonts/notokr-bold.woff') format('woff'),
		url('../fonts/notokr-bold.svg#notokr-bold') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family:'Noto Sans KR';
	src: url('../fonts/notokr-black.eot');
	src: url('../fonts/notokr-black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/notokr-black.woff2') format('woff2'),
		url('../fonts/notokr-black.woff') format('woff'),
		url('../fonts/notokr-black.svg#notokr-black') format('svg');
	font-weight: 900;
	font-style: normal;
}