@charset "utf-8";

/* ui-drop : base */
.ui-drop {position:relative; display:inline-block;}
.ui-drop-pnl {display:none; position:absolute; z-index:100; }
.ui-drop-pnl.on {display:block;}
.ui-drop-box {background:#fff;}
/* ui-drop : netvie UI style */
.ui-drop-pnl .btn-close {position:absolute; top:6px; right:6px;}
.ui-drop-pnl .btn-close:before,
.ui-drop-pnl .btn-close:after {background:#222;}


/* ui tooltip:z-index 200 ~ 299 */
.ui-tooltip {display:none; width:auto; margin:0 2.0rem; position:absolute; z-index:200; font-size:1.2rem; border:1px solid #555; padding:1.5rem; background:#fff; box-shadow:0 2px 10px rgba(0,0,0,0.3); border-radius:0.4rem; color: #666; white-space: nowrap;} 
.ui-tooltip dt{display: block; font-weight: 500; color:#333333; margin-bottom: 0.5rem;}
.ui-tooltip-btn {cursor:help;}
button.ui-tooltip-btn {position:relative; width:1.8rem; height:1.8rem; display: inline-block; vertical-align: middle; margin:0 0.5rem; top:0.1rem}
button.ui-tooltip-btn::after{content:"?"; display: block; width:1.8rem; height:1.8rem; border-radius: 50%; border:2px solid #ccc; background:#fff; color:#ccc; text-align: center; line-height: 1.5rem; margin:0.1rem auto; font-size:1.2rem; font-weight:700; box-sizing: border-box;}
.ui-tooltip.ps-ct .ui-tooltip-arrow,
.ui-tooltip.ps-cb .ui-tooltip-arrow,
.ui-tooltip.ps-lt .ui-tooltip-arrow,
.ui-tooltip.ps-lb .ui-tooltip-arrow,
.ui-tooltip.ps-rt .ui-tooltip-arrow,
.ui-tooltip.ps-rb .ui-tooltip-arrow {content:""; position:absolute; display:block; width:10px; height:10px; background:#fff; border-top:1px solid #222; border-right:1px solid #222}
.ui-tooltip.ps-ct .ui-tooltip-arrow {left:50%; bottom:-6px; transform:rotate(135deg); margin-left:-5px}
.ui-tooltip.ps-lt .ui-tooltip-arrow {left:0; bottom:-6px; transform:rotate(135deg); margin-left:10px}
.ui-tooltip.ps-rt .ui-tooltip-arrow {right:0; bottom:-6px; transform:rotate(135deg); margin-right:10px}
.ui-tooltip.ps-cb .ui-tooltip-arrow {left:50%; top:-6px; transform:rotate(-45deg); margin-left:-5px}
.ui-tooltip.ps-lb .ui-tooltip-arrow {left:0; top:-6px; transform:rotate(-45deg); margin-left:10px}
.ui-tooltip.ps-rb .ui-tooltip-arrow {right:0; top:-6px; transform:rotate(-45deg); margin-right:10px}
.ui-tooltip-close{position: absolute; top:0.7rem; right:0.7rem; width:2rem; height:2rem; background: url(../img/icon_close.svg) no-repeat 50% 50% / 1.2rem; opacity:0.6;}
.ui-tooltip.ps-rt,
.ui-tooltip.ps-rb{left:auto !important; right:0;}
.ui-tooltip.ps-ct,
.ui-tooltip.ps-cb{left:50% !important; transform: translate(-50%, 0);}
/* ui-loading */
.ui-loading {display:none; position:fixed; z-index:1000; width:100%; height:100%; opacity:0; top:0; left:0; overflow:hidden;}
.ui-loading.visible {display:block; animation-name:fadeIn; animation-duration:.5s; animation-iteration-count:1; animation-timing-function:linear; animation-fill-mode: forwards;}
.ui-loading {animation-name:fadeOut; animation-duration:.5s; animation-iteration-count:1; animation-timing-function:linear; animation-fill-mode: forwards;}
.ui-loading-txt {font-size:14px; color:#fff; width:120px; position:absolute; left:50%; bottom:-30px; margin-left:-60px; text-align:center;}
.ui-loading-txt span {display:block; padding:2px;}
/* ui-loading : time */
.ui-loading.time:after {content:""; display:block; position:fixed; z-index:0; width:100%; height:100%; opacity:1; top:0; left:0; background:rgba(0,0,0,0.5);}
.ui-loading.time:after {animation-name:fadeIn; animation-duration:0.5s; animation-iteration-count:1; animation-timing-function:ease-in-out; animation-fill-mode: forwards;}
.ui-loading.time.close:after{animation-name:fadeOut; animation-duration:0.25s; animation-iteration-count:1; animation-timing-function:ease-in; animation-fill-mode: forwards;}
.ui-loading.time .ui-loading-wrap {position:absolute; z-index:1; width:80px; height:80px; top:50%; left:50%; margin:-40px 0 0 -40px; border-radius:50%; border:1px solid rgba(255,255,255,0.5); background:rgba(0,0,0,0.1); box-shadow:0 0 8px rgba(0,0,0,0.2);}
.ui-loading.time .ui-loading-wrap:after {content:""; display:block; position:absolute; z-index:1; left:50%; top:40px; margin-left:-20px; border-radius:1px; width:40px; height:1px; background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);}
.ui-loading.time .ui-loading-wrap:before {content:""; display:block; position:absolute; z-index:1; left:50%; top:40px; margin-left:-30px; border-radius:1px; width:60px; height:1px; background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);}
.ui-loading.time .ui-loading-wrap:after {animation-name:timeAni; animation-duration:12s; animation-iteration-count:infinite; animation-timing-function:linear}
.ui-loading.time .ui-loading-wrap:before {animation-name:timeAni; animation-duration:1.2s; animation-iteration-count:infinite; animation-timing-function:linear}
/* ui-loading : orbit */
.ui-loading.orbit:after{content:""; display:block; position: absolute;; z-index:0; width:0; height:0; top:50%; left:50%; background:rgba(0,0,0,0.5); transform: translate(-50%,-50%); border-radius:50%;}
.ui-loading.orbit:after{animation-name:orbitScaleShowAni; animation-duration:0.5s; animation-iteration-count:1; animation-timing-function:ease-in-out; animation-fill-mode: forwards;}
.ui-loading.orbit.close:after{animation-name:orbitScaleHideAni; animation-duration:0.25s; animation-iteration-count:1; animation-timing-function:ease-in; animation-fill-mode: forwards;}
.ui-loading.orbit .ui-loading-wrap {position:absolute; width:80px; height:80px; top:50%; left:50%; margin:-40px 0 0 -40px;}
.ui-loading.orbit .ui-loading-wrap:after {content:""; display:block; position:absolute; left:0; top:calc(50% - 10px); border-radius:50%; width:20px; height:20px; background:rgba(0,0,0,1);}
.ui-loading.orbit .ui-loading-wrap:before {content:""; display:block; position:absolute; right:0; top:calc(50% - 10px); border-radius:50%; width:20px; height:20px; background:rgba(255,255,255,1)}
.ui-loading.orbit .ui-loading-wrap:after {animation-name:orbitLeftAni; animation-duration:1.5s; animation-iteration-count:infinite; animation-timing-function:ease-in-out; animation-direction: reverse;}
.ui-loading.orbit .ui-loading-wrap:before {animation-name:orbitRightAni; animation-duration:1.5s; animation-iteration-count:infinite; animation-timing-function:ease-in-out; animation-direction: reverse;}


/* pure orbit */
.ui-loading .orbit:after{content:""; display:block; position: absolute;; z-index:0; width:0; height:0; top:50%; left:50%; background:rgba(0,0,0,0.5); transform: translate(-50%,-50%); border-radius:50%;}
.ui-loading .orbit:after{animation-name:orbitScaleShowAni; animation-duration:0.5s; animation-iteration-count:1; animation-timing-function:ease-in-out; animation-fill-mode: forwards;}
.ui-loading.close .orbit:after{animation-name:orbitScaleHideAni; animation-duration:0.25s; animation-iteration-count:1; animation-timing-function:ease-in; animation-fill-mode: forwards;}
.ui-loading .orbit .orbit-wrap {position:absolute; width:80px; height:80px; top:50%; left:50%; margin:-40px 0 0 -40px;}
.ui-loading .orbit .orbit-wrap:after {content:""; display:block; position:absolute; left:0; top:calc(50% - 10px); border-radius:50%; width:20px; height:20px; background:rgba(0,0,0,1);}
.ui-loading .orbit .orbit-wrap:before {content:""; display:block; position:absolute; right:0; top:calc(50% - 10px); border-radius:50%; width:20px; height:20px; background:rgba(255,255,255,1)}
.ui-loading .orbit .orbit-wrap:after {animation-name:orbitLeftAni; animation-duration:1.5s; animation-iteration-count:infinite; animation-timing-function:ease-in-out; animation-direction: reverse;}
.ui-loading .orbit .orbit-wrap:before {animation-name:orbitRightAni; animation-duration:1.5s; animation-iteration-count:infinite; animation-timing-function:ease-in-out; animation-direction: reverse;}
/* pure time */
.ui-loading .time:after {content:""; display:block; position:fixed; z-index:0; width:100%; height:100%; opacity:1; top:0; left:0; background:rgba(0,0,0,0.5);}
.ui-loading .time .ui-loading-wrap {position:absolute; z-index:1; width:80px; height:80px; top:50%; left:50%; margin:-40px 0 0 -40px; border-radius:50%; border:1px solid rgba(255,255,255,0.5); background:rgba(0,0,0,0.1); box-shadow:0 0 8px rgba(0,0,0,0.2);}
.ui-loading .time .ui-loading-wrap:after {content:""; display:block; position:absolute; z-index:1; left:50%; top:40px; margin-left:-20px; border-radius:1px; width:40px; height:1px; background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);}
.ui-loading .time .ui-loading-wrap:before {content:""; display:block; position:absolute; z-index:1; left:50%; top:40px; margin-left:-30px; border-radius:1px; width:60px; height:1px; background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);}
.ui-loading .time .ui-loading-wrap:after {animation-name:timeAni; animation-duration:12s; animation-iteration-count:infinite; animation-timing-function:linear}
.ui-loading .time .ui-loading-wrap:before {animation-name:timeAni; animation-duration:1.2s; animation-iteration-count:infinite; animation-timing-function:linear}
